@charset "utf-8";

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;
    text-align: center;
    margin: 1%;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
    margin-left: 3%;
    margin-top: 12%;
}

header {
    background-image: url(../assets/Images/imagem-de-fundo.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-size:cover;
    color: white;
}

body{
    align-items: center;
    background-color: black;
    color: rgb(0, 0, 0);
}

main {
    padding: 5%;
    background-color: #ffffff;
    margin: 5%;
}

.btn-log{
    margin-left: 85%;
    width: 104px;
    height: 33px;
    left: 1926px;
    top: 257px;
    background: #04D000;
    border-radius: 5px;
    border: none;

    /* Login */

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    text-align: center;
    color: #FFFFFF;
}

.qual-car{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    margin-top: -5%;
    margin-left: -3%;
}

.box{
    display: flex;
    background-color: aqua;
    padding: 1%;
    margin: 2%;
}

select{
    display: block;
}

footer {
    color: white;
}